.header__button {
  text-decoration: none;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: opacity 0.3s;
  display: none;
  background-color: black;
  border: none;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .header__button {
    font-size: 18px;
    line-height: 22px;
    display: block;
  }
}